# ~~~~~~~~~~~~~ User Info ~~~~~~~~~~~~~
[user]
    name = NAME
    email = EMAIL / PRIVATE EMAIL KEY 

# ~~~~~~~~~~~~~ Editor, UI, Sort ~~~~~~~~~~~~~
[core]
    editor = nvim

[column]
    ui = auto

[help]
    autocorrect = prompt

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

# ~~~~~~~~~~~~~ Git Behavior ~~~~~~~~~~~~~
[init]
    defaultBranch = main

[push]
    default = simple
    autoSetupRemote = true

[fetch]
    prune = true

[commit]
    verbose = true
	gpgsign = true

[diff]
    algorithm = histogram

[rerere]
    enabled = true
    autoupdate = true
[gpg]
	format = ssh
